body {
	min-height: 100vh;
	background: url('../img/board.jpg') 0 0 / cover;
	font-family: 'Patua One', cursive;
}

header { 
	width: 100%;
	text-align: center;
}

.name {
	display: inline-block;
}

.refresh {
	cursor: pointer;
}

ul li {
	list-style: none;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

.card {
	width: calc(4.24 * 3vw);
	min-width: 200px;
	min-height: 279.716981132075472px;
	height: calc(5.93 * 3vw);
	margin: 0;
	background: top center / cover;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	cursor: pointer;
	text-align: center;
	transition: .1s;
	animation: ease-in;
	border-radius: 5%;
}

.selected {
	filter: none;
	/* border: 2px solid rgb(255, 153, 0); */
	z-index: 10;
}

.card:hover {
	/* box-shadow: 0 0 10px #000; */
	transform: scale(1.1);
	z-index: 15;
}

.ambush { background-image: url('../img/ambush.png'); }
.burrowing { background-image: url('../img/burrowing.png'); }
.carnivore { background-image: url('../img/carnivore.png'); }
.climbing { background-image: url('../img/climbing.png'); }
.cooperation { background-image: url('../img/cooperation.png'); }
.defensive-herding { background-image: url('../img/defensive-herding.png'); }
.fat-tissue { background-image: url('../img/fat-tissue.png'); }
.fertile { background-image: url('../img/fertile.png'); }
.foraging { background-image: url('../img/foraging.png'); }
.hard-shell { background-image: url('../img/hard-shell.png'); }
.horns { background-image: url('../img/horns.png'); }
.intelligence { background-image: url('../img/intelligence.png'); }
.long-neck { background-image: url('../img/long-neck.png'); }
.pack-hunting { background-image: url('../img/pack-hunting.png'); }
.scavenger { background-image: url('../img/scavenger.png'); }
.symbiosis { background-image: url('../img/symbiosis.png'); }
.warning-call { background-image: url('../img/warning-call.png'); }
.body-size, .population {
	background: #eee;
}
